<header>
    <nav>
        <div class="container">
            <ul>
                <li><a th:href="@{/logout}">Выход</a></li>
                <li><a th:href="@{/register}">Добавить менеджера</a></li>
                <li><a th:href="@{/profile}">Профиль</a></li>
                <li><a th:href="@{/suppliers}">Поставщкики</a></li>
                <li><a th:href="@{/supplies}">Поставки</a></li>
                <li><a th:href="@{/ingredients}">Продукты</a></li>
                <li><a th:href="@{/dishes}">Блюда</a></li>
            </ul>
        </div>
    </nav>
</header>