<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ингредиенты</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <div th:insert="header"></div>
    <div class="page_content">
        <form action="/ingredients" method="post">
            <div class="info_block" th:if="${!#sets.isEmpty(info)}">
                <div class="success_block" th:if="${#sets.contains(info, 'success')}">
                    Успешно добавлено.<br>
                </div>
                <div class="error_block" th:unless="${#sets.contains(info, 'success')}">
                    <b>Возникли некоторые ошибки:</b><br>
                    <span th:if="${#sets.contains(info, 'exists')}">Ингредиент с данным названием уже существует<br></span>
                    <span th:if="${#sets.contains(info, 'name')}">Поле с названием не может быть пустым<br></span>
                    <span th:if="${#sets.contains(info, 'quantity')}">Некорректное количество товара<br></span>
                </div>
            </div>
            <label>Название</label><br>
            <input type="text" name="name"><br>
            <label>Количество товара на складе (кг)</label><br>
            <input type="number" name="quantity" step="0.1"><br>
            <button type="submit">Добавить <i class="fas fa-plus-square"></i></button><br>
        </form>
        <br>
        <label>Список продуктов:</label>
        <table>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Предполагаемый остаток</th>
                <th>Поставки</th>
                <th>Поставщики</th>
                <th>Блюда</th>
                <th>Управление</th>
            </tr>
            <th:block th:each="ingredient : ${ingredients}">
                <tr th:class="${ingredient.getEstimatedBalanceViaDays() < 5 ? 'low_balance' : ''}">
                    <td th:text="${ingredient.getName()}"></td>
                    <td th:text="${ingredient.getQuantity() == null ? 0 : ingredient.getQuantity() + ' кг'}"></td>
                    <td th:text="${ingredient.getEstimatedBalanceViaDays().isNaN()
                                ? #numbers.formatDecimal(1f / 0f, 1, 1) + ' дн.'
                                : #numbers.formatDecimal(ingredient.getEstimatedBalanceViaDays(), 1, 1) + ' дн.'}"></td>
                    <td th:if="${ingredient.getSupplyItems().size() > 0}">
                        <th:block th:each="supplyItem, iter : ${T(com.wald.restaurant.Model.Supply).getSupplyItemsSortedByDateTime(ingredient.getPublishedSupplyItems())}">
                            <span th:if="${iter.index < 5}">
                                <a th:href="@{'/supplies/' + ${supplyItem.getSupply().getId()}}" th:text="${supplyItem.getSupply().getFormattedCreationDateTime()}"></a>
                                <br>
                            </span>
                            <label th:if="${iter.index == 5}" th:text="..."></label>
                        </th:block>
                    </td>
                    <td th:unless="${ingredient.getSupplyItems().size() > 0}">
                        <label>Нет поставок</label>
                    </td>
                    <td>
                        <th:block th:if="${ingredient.getSuppliers().size() > 0}" th:each="supplier, iter : ${ingredient.getSuppliers()}">
                            <span th:if="${iter.index < 5}">
                                <a th:href="@{'/suppliers/' + ${supplier.getId()}}" th:text="${supplier.getName()}"></a>
                                <br>
                            </span>
                            <label th:if="${iter.index == 5}" th:text="..."></label>
                        </th:block>
                        <label th:if="${ingredient.getSuppliers().size() == 0}" th:text="${'Нет поставщиков'}"></label>
                    </td>
                    <td>
                        <th:block th:each="dishItem, iter : ${ingredient.getDishItems()}">
                            <span th:if="${iter.index < 5}">
                                <a th:href="@{'/dishes/' + ${dishItem.getDish().getId()}}" th:text="${dishItem.getDish().getName()}"></a>
                                <br>
                            </span>
                            <label th:if="${iter.index == 5}" th:text="..."></label>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{'/ingredients/' + ${ingredient.getId()}}"><button>Изменить <i class="fas fa-edit"></i></button></a>
                        <form th:action="@{'/ingredients/' + ${ingredient.getId()} + '/delete'}" method="post">
                            <button type="submit">Удалить <i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>


</body>
</html>